*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Bookman, serif;
  margin: 0;
  padding: 0;
  border: 0;
  background: linear-gradient(#f9fbfd 20%, rgb(255, 248, 220));
}

html {
  text-align: center;
}

p {
  color: midnightblue;
}

h2 {
  color: red;
  text-shadow: 1px 2px hsl(206, 17%, 28%);
  font-size: 2rem;
}

/* do NOT use padding typically but in this case it is inside of another element so it did NOT cause adverse effects */
header {
  display: block;
  text-align: center;
  padding-top: 100px;
}

footer {
  display: block;
  height: 5%;
  width: 100%;
  color: rgb(255, 248, 220);
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

/* 
the calc height is used to make certain that the overall height of the page is 100vh. Do NOT use % on the first num, use vh instead. the footer height is 5% so start by subtracting 5% from 100vh and go from there. If the footer was 7% we would start by 100vh - 7%, etc */
.container {
  height: calc(100vh - 7%);
  margin-right: 15%;
  margin-left: 15%;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: midnightblue 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: auto;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  width: 80%;
}

.mainDisplay {
  font-size: 6rem;
  font-family: Bookman, serif;
  font-weight: bolder;
  background: linear-gradient(to right, red, midnightblue);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin: 0;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
  display: block;
}

.card-footer::before {
  display: block;
  content: " ";
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}


.card-footer::after {
  content: " ";
  clear: both;
}

.btn {
  border: none;
  font-family: Bookman, serif;
  background: linear-gradient(to right, red, midnightblue);
  color: rgb(255, 248, 220);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  box-shadow: midnightblue 0px 2px 8px 0px;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed red;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
